body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 248, 248);
}

.container {
    width: 70%;
    margin: 10px auto;
}

.profile-pic {
    width: 30%;
    float: left;
    margin-right: 20px;
}

.about {
    text-align: center;
}

.suit {
    width: 30%;
    height: 350px;
}

.suit-container {
    margin-top: 25px;
}

.measurement-items {
    float: left;
}

.footer {
    margin: 15px 0 0 0;
    background-color: rgb(156, 223, 228);
    padding: 5px;
    margin-top: 20px;
    clear: both;
}

.form-input {
    margin-bottom: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

form {
    margin-left: 31px;
}