/* body{
    margin:0;
    padding:0;
    text-align: center;
    background: linear-gradient(rgba(0,0, 150,0.5), rgba(0,0,50, 0.5)),url(image4.jpg);
    background-size: cover; 
    background-position: center;
    font-family: sans-sarif;
}
.contact-title{
    margin-top:100px;
    color: black;
    text-transform: uppercase;
    transition: all 4$ ease-in-out;


    .contact-title h1{
        font-size: 32px;
        line-height: 10px;

    }
 
     .contact-title h2{
         font-size: 16px
     }
     form{
         margin-top: 50px;
         transition: all 4$ ease-in-out;
     }

     .form-contorl{
         width: 600px;
         background: transparent;
         border: none;
         outline: none;
         border-bottom: 1px solid grey;
         color: #fff;
         font-size: 18px
     }
}
 
*/


/* Navigation styles   */

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 5% auto;
    padding: 10px;
}

.home-page-image {
    margin: 0 28px 0 0;
    width: 30%;
    float: left;
}

.home-content {
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}

.footer {
    margin: 15px 0 0 0;
    background-color: rgb(156, 223, 228);
    padding: 5px;
    clear: both;
}